/* ---- Global Styles ---- */

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #fdf6e3;
    color: #2e2e2e;
}

h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
/* ---- Header ---- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #a8774d, #d2ab7c);
    padding: 0.5rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo img {
    border-radius: 15px;
}

.header-links a {
    margin-left: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding-bottom: 0.25rem;
    position: relative;
}

.header-links a:hover,
.header-links a:focus {
    color: #fff;
}

/* Contenu centré */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

/* Titre */
.content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Champs de texte */
input[type="text"],
input[type="password"] {
    background-color: #a8774d;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1rem;
    width: 250px;
    font-size: 1rem;
    color: white;
}

input::placeholder {
    color: white;
    opacity: 0.9;
}

/* Bouton Connexion */
input[type="submit"] {
    background-color: #a8774d;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Lien vers première connexion */
.content > div:last-of-type {
    margin-top: 4rem;
}

.content a,
button {
    background-color: #a8774d;
    color: white;
    padding: 0.6rem 2rem;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
}